@import "variables";

.expenses-component {
  --chart-col-height:178px;
  --component-pd:clamp(.6rem,1svw,2.4rem) 2rem;

  margin-block: 40px 64px;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;

  @include mobile {
    gap: 1.6rem;
    margin: 6.7rem 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.7rem 3.2rem;
    background-color: var(--color-primary-soft-red);
    border-radius: 2rem;
    color: var(--color-neutral-white);

    @include mobile {
      padding: var(--component-pd);
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }

    &-balance {
      font-size: var(--heading-l-font-size);
      font-weight: 700;
    }
  }

  &__body {
    background-color: var(--color-neutral-very-pale-orange);
    padding: 3.2rem 4rem;
    border-radius: 2rem;

    @include mobile {
      padding: var(--component-pd);
    }
  }

  &__title {
    font-weight: 600;
    font-size: var(--heading-l-font-size);
    margin-bottom: 6.6rem;
  }

  &__chart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    min-height: var(--chart-col-height);

    @include mobile {
      gap: clamp(.5rem, 3svw, 1.2rem);
    }

    &-col {
      min-height: var(--chart-col-height);
      position: relative;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: flex-end;
    }

    &-number {
      opacity: 0;
      transition: opacity 600ms ease-in-out;
      background-color: var(--color-neutral-dark-brown);
      color: var(--color-neutral-very-pale-orange);
      font-weight: 700;
      padding: 0.8rem;
      border-radius: 0.5rem;
      position: absolute;
      transform: translate(0%, 100%);

      &--visible {
        transition: opacity 200ms ease-in-out;
        opacity: 1;
      }
    }

    &-bar {
      width: 50px;
      height: 120px;
      background-color: var(--color-primary-soft-red);
      border-radius: 0.5rem;

      @include mobile {
        width: 33px;
      }

      &:hover {
        cursor: pointer;
        background-color: var(--color-primary-light-soft-red);
      }

      &--today {
        background-color: var(--color-primary-cyan);

        &:hover {
          background-color: var(--color-primary-light-cyan);
        }
      }
    }

    &-day {
      font-size: var(--mini-caption-font-size);
      color: var(--color-neutral-medium-brown);
      display: block;
      margin-top: 0.8rem;
    }
  }

  &__footer {
    margin-top: 3.2rem;
    padding-top: 3.2rem;
    border-top: 2px solid var(--color-neutral-cream);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &-title {
      color: var(--color-neutral-medium-brown);
      display: block;
      font-weight: 600;
    }

    &-total {
      font-size: var(--heading-xl-font-size);
      font-weight: 700;
    }

    &-difference {
      font-weight: 700;
      display: block;
      width: 100%;
      text-align: right;
    }

    &-last-month {
      display: block;
      color: var(--color-neutral-medium-brown);
      margin-bottom: 0.8rem;
      text-align: end;
    }
  }
}

